.hidden {
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
  }
  :root {
    --cornflower: #6495ed;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  .container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 320px;
    
  }
  @media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
      }
  }

  @media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
      }
  }
  
  .main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }